[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = User Name
  email = user.name@domain.tld
	signingkey = ~/.ssh/key.pub
[gpg]
	format = ssh
[commit]
	gpgsign = true
[push]
	autoSetupRemote = true
